<div class="container" id="team">

	{% for project in site.data.other-projects %}

	<!-- Create two columns rows -->
	<div class="row project mt-5 mb-5">

			<div class="col-sm-12 col-md-4">
				<div class="project_img">
					<img src="{{ site.baseurl }}/projects/{{ project.folder }}/{{ project.img }}" 
					class="img-thumbnail img-fluid" 
					alt="{{ project.alt }}">
				</div>
			</div>

			<div class="col-sm-12 	col-md-8">
				{% if project.date %}
				<h2 class="project_name">{{ project.title }}<small class="project_name"> ({{ project.date }})</small></h2>
				{% else %}
				<h2 class="project_name">{{ project.title }}</h2>
				{% endif %}

				{% if project.description %}
				<p class="project_description p-0 m-0"> {{ project.description }} </p>
				{% endif %}

				<!-- List for more -->
				<ul class="download_list">

					{% if project.video %}
					<li><a href="{{ project.video }}" 
						target="_blank"
						aria-label = "Video for {{ project.title }}"
						title="Video for {{ project.title }}">video</a></li>
						{% endif %}

						<!-- Display link or folder if available -->
						{% if project.webpage %}
						<li><a href="{{ project.webpage }}" 
							title="Read more about {{ project.title }}"
							aria-label="Read more about {{ project.title }}">
							read more >>
						</a></li>
						{% elsif project.folder %}
						<li><a href="{{ site.baseurl }}/projects/{{ project.folder }}/" 
							title="Read more about {{ project.title }}"
							aria-label="Read more about {{ project.title }}">
							read more >>
						</a></li>
						{% endif %}

					</ul> 

			</div>

	</div>

	{% endfor %}

</div>