<div class="container" id="project-brief">

	{% if pastWork == "true" %}
		{% assign data = site.data.past-research-projects %}
	{% else %}
		{% assign data = site.data.research-projects %}
	{% endif %}

	{% for research in data %}

		<div class="row mt-5 mb-5">
			<div class="col-sm-12 col-md-4">
				<div class="research-img">
					<img src="{{ site.baseurl }}/research/{{ research.folder }}/{{ research.img }}" 
					     class="img-thumbnail img-fluid" 
					     alt="{{ research.alt }}">
				</div>
			</div>

			<div class="col-sm-12 	col-md-8">
				<h3 class="research_name">{{ research.title }}</h3>


				{% if research.year and research.authors %}
					<p class="authors_text p-0 m-0">{{ research.authors }} ({{ research.year }})</p>
				{% elsif research.authors %}
					<p class="authors_text p-0 m-0">{{ research.authors }}</p>
				{% elsif research.year %}
					<p class="authors_text p-0 m-0">({{ research.year }})</p>
				{% endif %}

				{% if research.description %}
				<p class="research_description p-0 m-0"> {{ research.description }} </p>
				{% endif %}
					<!-- Icons for paper download, research page, video, slides -->
					<ul class="download_list">

						{% if research.video %}
						<li>
						<a href="{{ research.video }}" 
						   target="_blank" 
						   aria-label = "Video for {{ research.title }}"
						   title="Video for {{ research.title }}">video</a>
						</li>
						{% endif %}

						{% if research.pdf %}
						<li>
						<a href="{{ site.baseurl }}/publications/{{ research.folder }}.pdf" 
						   target="_blank" 
						   title="PDF for {{ research.title }}"
						   aria-label = "PDF for {{ research.title }}">
							pdf
						</a>
						</li>
						{% endif %}
					  
						{% if research.slides %}
						<li>
						<a href="{{ site.baseurl }}/publications/{{ research.folder }}.slides.pdf" 
						   target="_blank" 
						   title="Slides for {{ research.title }}"
						   aria-label = "Slides for {{ research.title }}">slides</a>
						</li>
						{% endif %}

						{% if research.presentation %}
						<li>
						<a href="{{ research.presentation }}" 
						   target="_blank" 
						   aria-label = "Video presentation for {{ research.title }}"
						   title="Video presentation for {{ research.title }}">presentation</a>
						</li>
						{% endif %}

						<!-- Display webpage link or folder if available -->
						{% if research.webpage %}
							<li><a href="{{ research.webpage }}" 
							   target="_blank"
							   title="Read more about {{ research.title }}"
							   aria-label="Read more about {{ research.title }}">
							   read more >>
							</a></li>
						{% elsif research.folder and research.readmore != false %}
							<li><a href="{{ site.baseurl }}/research/{{ research.folder }}/" 
							   title="Read more about {{ research.title }}"
							   aria-label="Read more about {{ research.title }}">
								read more >>
							</a></li>
						{% endif %}

					</ul> 

			</div>

		</div>
	{% endfor %}
</div>