<div class="container" id="team">
	{% for member in site.data.research-projects %}
		{% assign loopindex = forloop.index | modulo: 4 %}
		{% if loopindex == 1 %}
			<div class="row">
				<div class="col-md-3">
					<div class="team-member">
						<div class="team-img">
							<img src="{{ site.baseurl }}/images/team/{{ member.img }}" onmouseover="this.src='{{ site.global.url }}/images/team/{{ member.img_alt }}'" onmouseout="this.src='{{ site.global.url }}/images/team/{{ member.img }}'" class="team-pic" alt="{{ member.name }}">
						</div>
						<h3 class="team_name"> {{ member.name }} </h3>
						{% if member.designation %}
						<p class="team_designation"> {{ member.designation }} </p>
						{% endif %}
						{% if member.text %}
							<p class="team_text"> {{ member.text }} </p>
						{% endif %}
						<p class="social-icons">
							{% if member.webpage %}
								<a href="{{ member.webpage }}" target="_blank" title="webpage"><i class="ion-document"></i></a>
							{% endif %}
							{% if member.email %}
								<a href="mailto:{{ member.email }}" target="_top" title="email"><i class="ion-email"></i></a>
							{% endif %}
							{% if member.twitter %}
							<a href="{{ member.twitter }}" target="_blank" title="twitter"><i class="ion-social-twitter-outline"></i></a>
							{% endif %}
							{% if member.linkedin %}
							<a href="{{ member.linkedin }}" target="_blank" title="linkedin"><i class="ion-social-linkedin-outline"></i></a>
							{% endif %}
						</p>
					</div>
				</div>
		{% elsif loopindex == 0 %}
				<div class="col-md-3">
					<div class="team-member">
						<div class="team-img">
							<img src="{{ site.baseurl }}/images/team/{{ member.img }}" onmouseover="this.src='{{ site.global.url }}/images/team/{{ member.img_alt }}'" onmouseout="this.src='{{ site.global.url }}/images/team/{{ member.img }}'" class="team-pic" alt="{{ member.name }}">
						</div>
						<h3 class="team_name"> {{ member.name }} </h3>
						{% if member.designation %}
						<p class="team_designation"> {{ member.designation }} </p>
						{% endif %}
						{% if member.text %}
							<p class="team_text"> {{ member.text }} </p>
						{% endif %}
						<p class="social-icons">
							{% if member.webpage %}
								<a href="{{ member.webpage }}" target="_blank" title="webpage"><i class="ion-document"></i></a>
							{% endif %}
							{% if member.email %}
								<a href="mailto:{{ member.email }}" target="_top" title="email"><i class="ion-email"></i></a>
							{% endif %}
							{% if member.twitter %}
							<a href="{{ member.twitter }}" target="_blank" title="twitter"><i class="ion-social-twitter-outline"></i></a>
							{% endif %}
							{% if member.linkedin %}
							<a href="{{ member.linkedin }}" target="_blank" title="linkedin"><i class="ion-social-linkedin-outline"></i></a>
							{% endif %}
						</p>
					</div>
				</div>
			</div>
		{% else %}
				<div class="col-md-3">
					<div class="team-member">
						<div class="team-img">
							<img src="{{ site.baseurl }}/images/team/{{ member.img }}" onmouseover="this.src='{{ site.global.url }}/images/team/{{ member.img_alt }}'" onmouseout="this.src='{{ site.global.url }}/images/team/{{ member.img }}'" class="team-pic" alt="{{ member.name }}">
						</div>
						<h3 class="team_name"> {{ member.name }} </h3>
						{% if member.designation %}
						<p class="team_designation"> {{ member.designation }} </p>
						{% endif %}
						{% if member.text %}
							<p class="team_text"> {{ member.text }} </p>
						{% endif %}
						<p class="social-icons">
							{% if member.webpage %}
								<a href="{{ member.webpage }}" target="_blank" title="webpage"><i class="ion-document"></i></a>
							{% endif %}
							{% if member.email %}
								<a href="mailto:{{ member.email }}" target="_top" title="email"><i class="ion-email"></i></a>
							{% endif %}
							{% if member.twitter %}
							<a href="{{ member.twitter }}" target="_blank" title="twitter"><i class="ion-social-twitter-outline"></i></a>
							{% endif %}
							{% if member.linkedin %}
							<a href="{{ member.linkedin }}" target="_blank" title="linkedin"><i class="ion-social-linkedin-outline"></i></a>
							{% endif %}
						</p>
					</div>
				</div>
		{% endif %}
	{% endfor %}
</div>