---
layout: default
---
<article>

	<section>
		<div class="container">

			<div class="row">
				<p>
				<img src="{{ site.baseurl }}/images/banner-gray-final-5.png" 
					class="img-fluid mx-auto d-block" 
					id="profile"
					alt="Alexa Siu portrait photo. A woman smiling, black hair, gray shirt, standing in front of a plain gray background.">
				</p>
			</div>

			<div class="row">
				<h1 class="intro">
					{{ page.lead_text }}
				</h1>
				
				{{ content }}

                <p>
                <u>Contact:</u><br> <a href="mailto:afsiu@stanford.edu" target="_top" style="text-decoration: none">{{ site.email }}<a><br> 

	            {% if site.twitter_username %}
	              {% include twitter-follow-button.html %}
	            {% endif%}
                {% include googleScholar-button.html %}

                </p>

			</div>
		</div>
	</section>

	<section>
		<h2 class="big_top_padding">Latest Research</h2>
		{% include research-gallery.html %}
	</section>


</article>






